#art {
  $frame-buffer: 10px;

  background: darken($green, 10%);
  top: 100vh;

  .gallery {
    position: relative;
    width: calc(100% - 25rem);
    padding: 50px;

    .column {
      padding: $frame-buffer $frame-buffer / 2;
    }

    .frame {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      margin-bottom: $frame-buffer;
      transition: 0.2s all;
      box-sizing: content-box;
      font-family: $title-font;

      .metadata {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        color: $rose;
        z-index: 2;
        font-size: 1.5vw;
        text-align: center;
        padding: 25px;
        
        .title {
          font-size: 2em;
          font-weight: 800;
        }
        
        .medium {
          font-style: italic;
        }
      }

      img {
        position: relative;
        width: 100%;
        filter: blur(0px);
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        filter: blur(0px);
        opacity: 0;
        transition: 0.2s;
        z-index: 1;
      }

      &:hover::after {
        opacity: 0.9;
      }

      &:hover .metadata {
        opacity: 1;
      }
    }
  }
  
  @media(max-width: 1200px) {
    .gallery {
      width: calc(100% - 12.5rem);
      padding: 0px;
    }
  }
  
  @media(max-width: 992px) {
    .gallery .frame .metadata {
      font-size: 4vw;
      
      .title {
        font-size: 1.25em;
      }
    }
  }
  
  @media(max-width: 600px) {
    .gallery {
      width: calc(100%);
      
      .frame .metadata {
        font-size: 2em;
        
        .title {
          font-size: 1.25em;
        }
      }
    }
  }
  
  @media(max-width: 300px) {
    .gallery .frame .metadata {
      font-size: 1.5em;
      
      .title {
        font-size: 1.25em;
      }
    }
  }
}
