.nav-desktop {
  position: relative;
  display: inline-block;

  margin-top: 20px;
  height: 120px;
  font-size: 3rem;
  width: 100%;
  font-family: 'Poiret One';
}

.nav-desktop > * {
  height: 100%;
}

.nav-desktop a {
  text-decoration: none;
  color: #FFF;
}

.nav-desktop .nav-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-desktop .nav-container > * {
  height: 100%;
}

.nav-desktop .nav-container .logo img {
  height: 100%;
  margin: 0 75px;
}

.nav-desktop .nav-container .left-nav-links,
.nav-desktop .nav-container .right-nav-links {
  display: flex;
  align-items: center;
  position: absolute;
}

.nav-desktop .nav-container .left-nav-links {
  left: 0;
  transform: translate(-100%, -100%);
}

.nav-desktop .nav-container .right-nav-links {
  right: 0;
  transform: translate(100%, -100%);
}

.nav-desktop .site-link {
  position: relative;
}

.nav-desktop .site-link::before,
.nav-desktop .site-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #FFF;
  transition: all 0.3s;
}

.nav-desktop .site-link::before {
  right: 50%;
}

.nav-desktop .site-link::after {
  left: 50%;
  transition-delay: 0.1s;
}

.nav-desktop a.site-link.active::before,
.nav-desktop a.site-link.active::after,
.nav-desktop a.site-link:hover::before,
.nav-desktop a.site-link:hover::after {
  width: 35%;
}
