section(id="about")
  div(class="container-fluid")
    p(class="bio")
      span(class="hello") Hi!  I’m Ashlee.
      | &nbsp;
      | Since the first time I told my mom and dad that I wanted to be an artist in Paris at 4, I’ve turned to art as a means to explore and digest the world around and inside me. I am inspired most by nature, symbology, and the tough experiences that shape who we become. In my art, I strive to communicate the connections I’ve found in the world while creating new ones. I love working in as many media as I can get my hands on but have a particular fondness for watercolor, acrylic, collage, and sculpting. 
      | &nbsp;
      | I graduated from Iowa State University with a BFA in Art and Design. I grew up all over Northeast Iowa and currently live and work in Des Moines.
    div(class="social")
      a(href="https://www.facebook.com/AshleeNoel97", target="_blank"): i(class="fa fa-facebook", aria-hidden="true")
      a(href="https://www.instagram.com/ashleenoel97/", target="_blank"): i(class="fa fa-instagram", aria-hidden="true")
      a(href="https://twitter.com/AshleeNoel979", target="_blank"): i(class="fa fa-twitter", aria-hidden="true")
