.nav-mobile-landing {
  position: relative;

  width: 100%;
  height: 100vh;
  min-height: 700px;
  font-family: 'Poiret One';
  text-align: center;
}

.nav-mobile-landing .site-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #FFF;
  padding-bottom: 20px;
}

@media(min-width: 600px) {
  .nav-mobile-landing .site-link {
    font-size: 3.5rem;
  }

  .nav-mobile-landing .nav-container .logo img {
    width: 60%;
    max-width: 400px;
    margin: 50px 0;
  }

  .nav-mobile-landing .nav-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media(max-width: 599px) {
  .nav-mobile-landing .site-link {
    font-size: 2.5rem;
  }

  .nav-mobile-landing .nav-container .logo img {
    width: 75%;
    margin: 75px 0;
  }
}
