@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/images/black-paper-cloth.jpg');
}

.page-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1500px) {
  .page-container {
    width: 75vw;
  }
}

@media (max-width: 1499px) {
  .page-container {
    width: 95vw;
  }
}
