doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="subject", content="Ashlee Noel Art Portfolio - Des Moines, IA")
    meta(name="description", content="Ashlee Noel is an artist from Des Moines, IA.  She specializes in hand lettering and watercolor painting.")
    meta(name="author", content="Shawn Reisner, shawn.reisner@gmail.com")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    
    title AshleeNoel
    link(rel="stylesheet", href="site.min.css")
    link(rel="icon", href="favicon.png")
  body
    include ./landing/landing.jade
    include ./art/art.jade
    include ./modal/modal.jade
    include ./about/about.jade
    include ./nav/nav.jade
    
    script(src="site.min.js")
    script(src="https://use.typekit.net/rni7sqf.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
