nav(id="nav")
  div(class="hamburger")
    div(class="bar1")
    div(class="bar2")
    div(class="bar3")
  h1
    a(data-scroll, href="#landing") Ashlee Noel
  div(class="link-container")
    div(class="arrow-left")
    ul
      li
        a(data-scroll, class="site-link", href="#art") art
      li
        a(data-scroll, class="site-link", href="#about") about
  a(class="buy-my-art", href="https://society6.com/ashleenoel", target="_blank") buy my art
